.filterArea {
    display: grid;
    grid-template-areas: "count" "name";
    grid-auto-rows: min-content;
    padding-right: 38px;
}

.itemsCount {
    grid-area: count;
    color: #898989;
    font-size: 14px;
    padding-bottom: 5px;
}

.categoryName {
    grid-area: name;
    margin: 0;
    font-size: 32px;
    line-height: 140%;
    font-style: normal;
    font-weight: bold;
    color: #1B1B1B;
    padding-bottom: 13px;
}

@media (max-width: 960px) {
    .filterArea {
        grid-template-areas: "name"  "count";
    }
    .categoryName {
        padding-bottom: 24px;
    }
    .itemsCount {
        padding-bottom: 18px;
    }
}

@media (max-width: 640px) {
    .filterArea {
        padding: 0 20px;
    }
}
