.card{
    border-bottom: 1px solid #282c34;
}

.image {
    width: 50px;
    height: 50px;
}

.link {
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;

}

.text {
    padding: 0 20px;
    font-size: 20px;
    color: #282c34;
}

.card:hover {
    background-color: #44C477;
}
