.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox+label {
    display: inline-flex;
    font-style: normal;
    font-weight: 500;
    width: max-content;
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 140%;
    color: #1B1B1B;
}
.checkbox+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    margin-right: 14px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox:checked+label::before {
    border-color:#7993A6;
    background-color: #7993A6;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color:#7993A6;
}
.checkbox:focus:not(:checked)+label::before {
    border-color: #A7A7A7;
}

