.catalog {
    padding: 64px 307px 64px 311px;
    display: flex;
}

@media (max-width: 1600px) {
    .catalog {
        padding: 64px 107px 64px 111px;
    }
}

@media (max-width: 1280px) {
    .catalog {
        padding: 64px 78px 64px 78px;
    }
}

@media (max-width: 960px) {
    .catalog {
        flex-direction: column;
        padding: 64px;
    }
}

@media (max-width: 640px) {
    .catalog {
        padding: 47px 0;
    }
}

