.button {
    padding: 8px 15px 12px 15px;

    border: 1px solid #E6E6E6;
    border-radius: 4px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
}

.primary {
    color: white;
    background-color: #44C477;
}

.ghost {
    color: #1b1b1b;
    background: #FFFFFF;
}

.ghost:hover {
    border-color: #A7A7A7;
}


@media (max-width: 480px) {
    .button {
        font-size: 12px;
    }
}

