.priceRange {
    width: 222px;
    height: 40px;
    display: flex;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
}

.priceRange:hover {
    border-color: #A7A7A7;
}

.priceInput {
    padding: 10px 12px 12px 12px;
    border: none;
    outline: none;
    background-color: transparent;
    width: 86px;
}

.priceInput:first-child {
    border-right: 1px solid #DBDBDB;
}

.priceInput::-webkit-outer-spin-button,
.priceInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

