.wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
}

.label {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #1B1B1B;
    padding-bottom: 12px;
}
