.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 240px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    margin-bottom: 20px;
}

.newLabel {
    top: 12px;
    left: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 140%;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79px;
    height: 26px;
    background-color: #44C477;
    position: absolute;
    border-radius: 26px;
}

.image {
    width: 240px;
    height: 240px;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 16px 16px 16px;
}

.name {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    height: 41px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.priceWrapper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
}

.price {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
}

.isNew {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 140%;
}

.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .card {
        width: 180px;
    }
    .image {
        width: 178px;
        height: 178px;
    }
}

@media (max-width: 640px) {
    .newLabel {
        top: 28px;
        left: 24px;
        width: 56px;
        height: 20px;
        font-size: 8px;
    }
    .card {
        padding: 20px;
        flex-direction: row;
        width: auto;
        border: none;
        margin: 0;
    }
    .card:after {
        content: "";
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: #E6E6E6;
    }
    .infoWrapper {
        padding-top: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .image {
        width: 124px;
        height: 124px;
    }

    .button {
        font-size: 8px;
    }
}




