.notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #282c34;
}

.text {
    color: #E6E6E6;
    font-size: 22px;
    padding-bottom: 20px;
}

.link {
    text-decoration: none;
    color: #44C477;
    font-size: 18px;
}
